html, body{
    margin:0;
    
    background-color: lightgray;
}
img{
    width: 500px;
    height: 385px;
}
.header{
    margin:0;
    padding-top: 0.5px;
    padding-bottom: 5px;
    background-color: white;
    padding-left: 10px;
} 
header{
    padding-left: 10px;
    padding-top: 15px;
   
}
.text{
    margin-top: 2px;
}
h1{
    text-align: center;
}
.box{
    background-color: white;
    width: 500px;
    height: 500px;
    margin:0 auto;
}
footer{
    padding-left: 10px;
}
