html, body{
    margin:0;
    
    background-color: lightgray;
}
img{
    width: 500px;
    height: 390px;
}
header{
    margin:0;
    padding-top: 0.5px;
    padding-bottom: 5px;
    background-color: white;
} 
h1{
    text-align: center;
}
.box{
    background-color: white;
    width: 500px;
    height: 500px;
    margin:0 auto;
}
